<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <!-- cfg replacer -->
  <bean id="irr" class="com.nt.replacer.IntrRateReplacer"/>
  
  <bean id="iac"  class="com.nt.beans.IntrAmtCalculatorService">
       <replaced-method name="calcIntrAmt" replacer="irr">
        <arg-type>float</arg-type>
        <arg-type>float</arg-type>
       </replaced-method>
       
  </bean>
     
</beans>