<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     
  <!-- Depedent Beans cfg -->
  <bean id="dtdc"  class="com.nt.beans.DTDC" scope="prototype"/>
  <bean id="blueDart"  class="com.nt.beans.BlueDart" scope="singleton"/>
  <bean id="firstFlight"  class="com.nt.beans.FirstFlight" scope="prototye"/>
  
  <!-- Main Bean cfg -->
  <bean id="fkt"  class="com.nt.beans.Flipkart" scope="singleton" lazy-init="true">
    <property name="courier" ref="dtdc"/>
  </bean>
  
  
</beans>