<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

 <!-- Depedent bean -->
 <bean id="dt"  class="java.util.Date"/>
 <!-- Main/target bean -->
 <bean id="wish"  class="com.nt.beans.WishMsgGenerator">
   <property name="dates" ref="dt"/>
 </bean> 

</beans>