<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <!-- Dependent bean -->
  <bean id="dt"  class="java.util.Date"/>
 
  
  <bean id="wish"  class="com.nt.beans.WishMsgGenerator">
     <constructor-arg name="date">
       <ref bean="dt"/>
     </constructor-arg>
     
  </bean>

</beans>