<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Target class cfg -->
  <bean id="pinGenerator"  class="com.nt.service.ATMPinGenerator"/>
  
  <!-- Advice class cfg -->
  <bean id="pinVerifier"  class="com.nt.aspect.ATMPinVerifierAdvice"/>
  
  <!-- Cfg ProxyFactoryBean to generate Proxyclass object -->
  <bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
     <property name="target" ref="pinGenerator"/>
     <property name="interceptorNames">
       <value>pinVerifier</value>
     </property>
  </bean>

</beans>