<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="iccServiceLocator" class="com.nt.locator.ICCScoreCompServiceLocator">
    <property name="jndiName" value="icc"/>
  </bean>   
  <bean id="cbService" class="com.nt.service.CrickBuzzFindScoreServiceImpl">
     <property name="extComp" ref="iccServiceLocator"/>
  </bean>
  <bean id="cbController" class="com.nt.controller.CrickBuzzFindScoreController">
    <property name="service" ref="cbService"/>
  </bean>
     
</beans>